/*  your css code here. If applicable */
:root {
  --bg-color: rgb(135, 206, 235);
}
body {
  background-color: var(--bg-color) !important;
}
p:first-child {
  background-color: black;
  color: white;
}
p:nth-child(2) {
  color: #333;
}
p:nth-child(2) {
  color: red;
}
li {
  background-color: gray;
  width: 60%;
  padding: 10px;
}
li:nth-child(odd) {
  background-color: white;
}
li:first-child {
  font-size: 22px;
}
li:last-child {
  font-size: 22px;
}
li:nth-child(3) {
  background-color: pink;
}
